body{
  width:100%
}
nav {
  text-align: right;
  color: #ffffff;
  font-family:  Helvetica, sans-serif;
  font-size: 80px;
  text-shadow: -1px 0 #FF8C00, 0 1px #FF8C00, 1px 0 #FF8C00, 0 -1px #FF8C00;
}
#journey {
  font-family:  Helvetica, sans-serif;
  font-size: 100px;
  color: #1E90FF;
}
#myhtml5 {
  text-align:center;
  font-family:  Helvetica, sans-serif;
  font-size: 100px;
  color: #000000;
  text-shadow: 3px 0 white, 0 0px yellow, 4px 0 #2583d0, 0 4px #2583d0;
}

#myjavascript {
  text-align:right;
  font-family:  Helvetica, sans-serif;
  font-size: 100px;
  color: #f1b520;
  text-shadow: -2px 0 #bf8b09, 0 2px #bf8b09, 2px 0 #bf8b09, 0 -2px #bf8b09;
  }

#mycss3 {
  text-align:left;
  margin-left:120px;
  font-family:  Helvetica, sans-serif;
  font-size: 100px;
  color: #2096f1;
  text-shadow: 3px 0 #ffffff, 0 4px #b1cce1;
}

footer {
  text-align:center;
  color: #ee7903;
}
